NEXT_PUBLIC_FIREBASE_API_KEY=isi
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=isi
NEXT_PUBLIC_FIREBASE_PROJECT_ID=isi
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=isi
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=isi
NEXT_PUBLIC_FIREBASE_APP_ID=isi

DATABASE_URL=isi
NEXT_PUBLIC_MAPBOX_ACCESS_TOKEN=isi

FAST_API_URL=isi
CLOUDINARY_URL=isi